.DS_Store
.git
.vscode

node_modules
**/node_modules

ui/dist
ui/build
backend/temp
backend/uploads
backend/whisper.cpp

backend/*.db
backend/*.sqlite
backend/*.sqlite3

**/.env
**/.env.*
docker.env
docker.env.*
